@import "bootstrap/scss/bootstrap";

#data-settings {
	background-color: #f3f3f3;
	border-radius: 8px;
}

label {
	font-weight: bold;
}

.max-height-scroller {
	max-height: 24rem;
	overflow-y: auto;
}

#app-version {
	font-size: 80%;
}

tr.active-tariff {
	--bs-table-bg: var(--bs-success-bg-subtle);
	font-weight: bold;
}
