@import "bootstrap/scss/bootstrap";

#data-settings-tab-content {
	background-color: #f3f3f3;
	border-radius: 0 0 8px 8px;
	border: 1px solid $nav-tabs-border-color;
  	border-top: none;
}

label {
	font-weight: bold;
}

.max-height-scroller {
	max-height: 24rem;
	overflow-y: auto;
}

#app-version {
	font-size: 80%;
}

tr.active-tariff {
	--bs-table-bg: var(--bs-success-bg-subtle);
	font-weight: bold;
}
